<!--<div class="card-travel" [ngClass]="{ 'archived': isArchived }">-->


<div class="card-container flex content-center gap-4 mt-4">
  @for(trip of trips$$(); track trip.id) {
    <div class="card-travel">
      <app-card-date-travel></app-card-date-travel>
      <div class="card-header">
        <h2>{{ trip.title}}</h2>
        <span class="date">Crée le {{ trip.createdAt | date:'yyyy-MM-dd HH:mm' }}</span>
      </div>
        <div class="initials-list">
          <div class="initial">AZ</div>
          <div class="initial">EB</div>
          <div class="initial">TS</div>
          <div class="initial">LP</div>
        </div>
    </div>
  }
</div>
