<header class="header-nav px-8">
<div class="logo">
  <img class="logo-img" ngSrc="assets/logo_white.svg" alt="logo SplitnGo" style="width: 150px; position: relative" fill>
</div>
<div class="menu">
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>flutter_dash</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Connexion</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>
</div>
</header>
